body {
    margin: 0;
    font-family: 'Roboto';
    background-color: #f4f4f4;
    font-weight: bold;
}
  
.container {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    gap: 0px;
    column-gap: -20px;
    width: 1000px;
}
  
.palette {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
}
  
.palette h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
  
.colors {
    position: relative;
    width: 200px;
    height: 60px;
    margin-left: 0px;
    gap: 80px;
}
  
.color {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
}
  
.color:nth-child(1) {
    top: 0;
    left: 0;
    z-index: 4;
}
  
.color:nth-child(2) {
    top: 0;
    left: 50px;
    z-index: 3;
}
  
.color:nth-child(3) {
    top: 0;
    left: 90px;
    z-index: 2;
}
  
.color:nth-child(4) {
    top: 0;
    left: 130px;
    z-index: 1;
}
  
.color span {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8px;
    font-family: 'Roboto';
    color: #333;
    text-align: center;
}
  
@media (max-width: 720px) {
    .container {
        grid-template-columns: 1fr;
    }
}
